.listItem{
  margin-bottom: 1em;
  .row{
    width: 100%;
    padding: .5em 1em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px #b7b6b6;
    .right{
      display: flex;
      align-items: center;
      .class{
        width: 19px;
        height: 19px;
        border-radius: 50%;
      }
    }
    input[type="checkbox"]{
      accent-color: #ffc849;
    }
    label{
      margin: 0;
      margin-left: .5em;
      cursor: pointer;
    }
    &__button{
      margin-left: auto;
      margin-right: 0;
      background: none;
      border: none;
      cursor: pointer;
      padding: .75em;
      color: #303030;
      svg{
        font-size: 1.2rem;
      }
    }
  }
}
.completed {
  text-decoration: line-through;
}

.hobby{
  background-color: #ffc849;
}
.school{
  background-color: #899dd2;
}
.work{
  background-color: #ff6262;
}
.home{
  background-color: #fb6e3a;
}
.other{
  background-color: #cccccc;
}